body {
  font-family: "Helvetica Neue", "Lucida Grande", "Arial";
  font-size: 13px;
  text-align: center;
  text-stroke: 1px rgba(255,255,255,0.1);
  color: #555;
}
h1,
h2 {
  margin: 0;
  font-size: 22px;
  color: #343434;
}
h1 {
  text-shadow: 1px 2px 2px #ddd;
  font-size: 60px;
}
.odd {
  background-color: #fff;
}
.even {
  background-color: #f5f7f8;
}
.remove {
  display: inline-block;
  margin-left: 15px;
  font-size: 0.5em;
  text-decoration: none;
  color: #f00;
  vertical-align: top;
  padding-top: 0.75em;
}
.add {
  color: #008000;
  text-decoration: none;
}
#articles {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}
#articles .article {
  margin: 20px;
}
#articles .article .created_at {
  display: none;
}
#articles .article .title {
  font-weight: bold;
  text-decoration: underline;
  background-color: #eee;
}
#articles .article .body {
  background-color: #ffa;
}
.article .body {
  font-size: 2.5em;
}
.article .created_at {
  color: #999;
}
.article .comment_wrapper {
  margin: 20px;
  background-color: #ffc;
  font-size: 1em;
}
.article .comment_wrapper .comment {
  float: left;
  width: 100%;
  text-align: left;
  padding: 5px 0;
}
.article .comment_wrapper .comment .comment {
  float: left;
  font-size: 1.25em;
  text-align: left;
  margin: 0;
  margin-bottom: 10px;
  padding-left: 10px;
}
.article .comment_wrapper .comment .person {
  float: right;
  margin-right: 20px;
  color: #666;
}
.article .comment_wrapper input[type =text] {
  width: 490px;
  margin-left: 16px;
}
.article .comment_wrapper input[type =button],
.article .comment_wrapper input[type =submit] {
  text-align: left;
  margin-left: 440px;
}
.article .comment_wrapper textarea {
  width: 490px;
  height: 90px;
}
