body
  font-family "Helvetica Neue", "Lucida Grande", "Arial"
  font-size 13px
  text-align center
  text-stroke 1px rgba(255, 255, 255, 0.1)
  color #555
h1, h2
 	margin 0
 	font-size 22px
 	color #343434
h1
 	text-shadow 1px 2px 2px #ddd
 	font-size 60px
.odd
 	background-color #fff
.even
	background-color #F5F7F8
.highlight
	color red
	font-weight 700
.remove
	display inline-block
	margin-left 15px
	font-size .5em
	text-decoration none
	color red
	vertical-align top
	padding-top .75em
.add
	color green
	text-decoration none
#articles
 	text-align left
 	margin-left auto
 	margin-right auto
 	width 320px
 	.article
 		margin 20px
 		.created_at
 			display none
 		.title
 			font-weight bold
 			text-decoration underline
 			background-color #eee
 		.body
 			background-color #ffa
.article
	.body
		font-size 2.5em
	.created_at
		color #999
	.comment_wrapper
		margin 20px auto
		background-color #ffc
		font-size 1em
		border 1px solid #000
		width 700px	
		.remove_comment
			width 2em
			float left
			.remove
				font-size .75em
				padding 0
				padding-top .125em
				margin 0
		.comment
			float left
			width 100%
			text-align left
			padding 5px 0
			.comment
				float left
				font-size 1.25em
				text-align left
				margin 0
				margin-bottom 10px
				padding-left 10px
			.person
				float right
				margin-right 20px
				color #666
	.form_wrapper
		width 700px
		float none
		clear left
		margin 20px auto
 	input[type =text]
 		width 490px
 		margin-left 16px
 	input[type =button], input[type =submit]
 		text-align left
 		margin-left 440px
 	textarea
 		width 490px
 		height 90px